@CHARSET "UTF-8";
pre{
    font-size:16px;
    text-align:justify}

* {
    padding: 0;
    margin: 0;
}

.table_main {
    width: 1000px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
}

input[type=text]{
    width:135px;
    height:30px;
    text-align:center;
    font-size:14px;
    border:none
}

input[type=radio]{
    text-align:center;
    font-size:14px;
    border:none
}

select{
    text-align:center;
    font-size:14px;
    border:none
}

/*input.text{*/
    /*border: 0px solid black;*/
/*}*/
/*input.text{*/
    /*text-align:center;*/
/*}*/

td {
    border: 1px solid black;
    padding: 5px 10px;
    height:20px;
    text-align:center
}

