<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <mappers>
        <mapper resource="mapper/BusMapper.xml"/>
        <mapper resource="mapper/LineMapper.xml"/>
        <mapper resource="mapper/LineStationMapper.xml"/>
        <mapper resource="mapper/StationMapper.xml"/>
        <mapper resource="mapper/NewsMapper.xml"/>
        <mapper resource="mapper/UserTicketMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserCouponMapper.xml"/>
        <mapper resource="mapper/UserLineMapper.xml"/>
        <mapper resource="mapper/UserLogMapper.xml"/>
        <mapper resource="mapper/UserNoticeMapper.xml"/>
        <mapper resource="mapper/SignMapper.xml"/>
        <mapper resource="mapper/PointRecordMapper.xml"/>
        <mapper resource="mapper/CommodityMapper.xml"/>
        <mapper resource="mapper/CommodityOrderMapper.xml"/>
        <mapper resource="mapper/CommodityTypeMapper.xml"/>
        <mapper resource="mapper/CommodityTypeMapper.xml"/>
        <mapper resource="mapper/MyMessageMapper.xml"/>
        <mapper resource="mapper/ActivityMapper.xml" />
        <mapper resource="mapper/ActivityOrderMapper.xml" />
        <mapper resource="mapper/FeedbackMapper.xml"/>
        <mapper resource="mapper/OrdersMapper.xml"/>
    </mappers>

</configuration>