<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.bus.web.mapper.GrantMapper" >
  <resultMap id="BaseResultMap" type="net.bus.web.model.Grant" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="idCard" property="idcard" jdbcType="VARCHAR" />
    <result column="populationCount" property="populationcount" jdbcType="VARCHAR" />
    <result column="familyIncome" property="familyincome" jdbcType="VARCHAR" />
    <result column="monthlyIncome" property="monthlyincome" jdbcType="VARCHAR" />
    <result column="revenueSource" property="revenuesource" jdbcType="VARCHAR" />
    <result column="poorGrades" property="poorgrades" jdbcType="VARCHAR" />
    <result column="amounted" property="amounted" jdbcType="VARCHAR" />
    <result column="fundedPurpose" property="fundedpurpose" jdbcType="VARCHAR" />
    <result column="fundPurpose" property="fundpurpose" jdbcType="VARCHAR" />
    <result column="bankAccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="m1name" property="m1name" jdbcType="VARCHAR" />
    <result column="m1age" property="m1age" jdbcType="INTEGER" />
    <result column="m1Relations" property="m1relations" jdbcType="VARCHAR" />
    <result column="m1Company" property="m1company" jdbcType="VARCHAR" />
    <result column="m2name" property="m2name" jdbcType="VARCHAR" />
    <result column="m2age" property="m2age" jdbcType="INTEGER" />
    <result column="m2Relations" property="m2relations" jdbcType="VARCHAR" />
    <result column="m2Company" property="m2company" jdbcType="VARCHAR" />
    <result column="m3name" property="m3name" jdbcType="VARCHAR" />
    <result column="m3age" property="m3age" jdbcType="INTEGER" />
    <result column="m3Relations" property="m3relations" jdbcType="VARCHAR" />
    <result column="m3Company" property="m3company" jdbcType="VARCHAR" />
    <result column="applicationReasons" property="applicationreasons" jdbcType="VARCHAR" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="counselorReview" property="counselorreview" jdbcType="INTEGER" />
    <result column="counselorReviewRemarks" property="counselorreviewremarks" jdbcType="VARCHAR" />
    <result column="admin" property="admin" jdbcType="INTEGER" />
    <result column="adminRemarks" property="adminremarks" jdbcType="VARCHAR" />
    <result column="ApplicationTime" property="applicationtime" jdbcType="DATE" />
  </resultMap>

  <resultMap id="grantMap" type="net.bus.web.model.GrantPovo" extends="BaseResultMap">
    <association property="student" javaType="net.bus.web.model.Student">
      <id column="idCard" property="idcard" jdbcType="VARCHAR" />
      <result column="sno" property="sno" jdbcType="VARCHAR" />
      <result column="sname" property="sname" jdbcType="VARCHAR" />
      <result column="usedName" property="usedname" jdbcType="VARCHAR" />
      <result column="sex" property="sex" jdbcType="VARCHAR" />
      <result column="College" property="college" jdbcType="VARCHAR" />
      <result column="birthday" property="birthday" jdbcType="DATE" />
      <result column="profession" property="profession" jdbcType="VARCHAR" />
      <result column="classname" property="classname" jdbcType="VARCHAR" />
      <result column="grade" property="grade" jdbcType="VARCHAR" />
      <result column="level" property="level" jdbcType="CHAR" />
      <result column="admissionTime" property="admissiontime" jdbcType="DATE" />
      <result column="studyLength" property="studylength" jdbcType="CHAR" />
      <result column="nationality" property="nationality" jdbcType="VARCHAR" />
      <result column="political" property="political" jdbcType="VARCHAR" />
      <result column="sroom" property="sroom" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="stel" property="stel" jdbcType="VARCHAR" />
      <result column="schoolCard" property="schoolcard" jdbcType="VARCHAR" />
      <result column="fname" property="fname" jdbcType="VARCHAR" />
      <result column="ftel" property="ftel" jdbcType="VARCHAR" />
      <result column="mname" property="mname" jdbcType="VARCHAR" />
      <result column="mtel" property="mtel" jdbcType="VARCHAR" />
      <result column="nativePlace" property="nativeplace" jdbcType="VARCHAR" />
      <result column="img" property="img" jdbcType="VARCHAR" />
      <result column="QQ" property="qq" jdbcType="VARCHAR" />
      <result column="familyAccount" property="familyaccount" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, idCard, populationCount, familyIncome, monthlyIncome, revenueSource, poorGrades, 
    amounted, fundedPurpose, fundPurpose, bankAccount, m1name, m1age, m1Relations, m1Company, 
    m2name, m2age, m2Relations, m2Company, m3name, m3age, m3Relations, m3Company, applicationReasons, 
    Remarks, counselorReview, counselorReviewRemarks, admin, adminRemarks, ApplicationTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.bus.web.model.GrantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from grants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from grants
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--联合查询助学金信息-->
  <select id="selectGrant" resultMap="grantMap" parameterType="java.util.Map">
    SELECT * FROM grants
    INNER JOIN students
    ON grants.`idcard`=students.`idCard`
    AND grants.`counselorReview`=2
    <if test="college!=null">
      AND college=#{college}
    </if>
    <if test="profession!=null">
      AND profession = #{profession}
    </if>
    <if test="classname!=null">
      AND classname = #{classname}
    </if>
    <if test="sno!=null">
      AND sno = #{sno}
    </if>
    <if test="sname!=null">
      AND sname = #{sname}
    </if>
    <if test="admin!=null">
      AND admin = #{admin}
    </if>
    LIMIT #{start},#{end}

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from grants
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.bus.web.model.GrantExample" >
    delete from grants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.bus.web.model.Grant" >
    insert into grants (id, idCard, populationCount, 
      familyIncome, monthlyIncome, revenueSource, 
      poorGrades, amounted, fundedPurpose, 
      fundPurpose, bankAccount, m1name, 
      m1age, m1Relations, m1Company, 
      m2name, m2age, m2Relations, 
      m2Company, m3name, m3age, 
      m3Relations, m3Company, applicationReasons, 
      Remarks, counselorReview, counselorReviewRemarks, 
      admin, adminRemarks, ApplicationTime
      )
    values (#{id,jdbcType=BIGINT}, #{idcard,jdbcType=VARCHAR}, #{populationcount,jdbcType=VARCHAR}, 
      #{familyincome,jdbcType=VARCHAR}, #{monthlyincome,jdbcType=VARCHAR}, #{revenuesource,jdbcType=VARCHAR}, 
      #{poorgrades,jdbcType=VARCHAR}, #{amounted,jdbcType=VARCHAR}, #{fundedpurpose,jdbcType=VARCHAR}, 
      #{fundpurpose,jdbcType=VARCHAR}, #{bankaccount,jdbcType=VARCHAR}, #{m1name,jdbcType=VARCHAR}, 
      #{m1age,jdbcType=INTEGER}, #{m1relations,jdbcType=VARCHAR}, #{m1company,jdbcType=VARCHAR}, 
      #{m2name,jdbcType=VARCHAR}, #{m2age,jdbcType=INTEGER}, #{m2relations,jdbcType=VARCHAR}, 
      #{m2company,jdbcType=VARCHAR}, #{m3name,jdbcType=VARCHAR}, #{m3age,jdbcType=INTEGER}, 
      #{m3relations,jdbcType=VARCHAR}, #{m3company,jdbcType=VARCHAR}, #{applicationreasons,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{counselorreview,jdbcType=INTEGER}, #{counselorreviewremarks,jdbcType=VARCHAR}, 
      #{admin,jdbcType=INTEGER}, #{adminremarks,jdbcType=VARCHAR}, #{applicationtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.bus.web.model.Grant" >
    insert into grants
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="idcard != null" >
        idCard,
      </if>
      <if test="populationcount != null" >
        populationCount,
      </if>
      <if test="familyincome != null" >
        familyIncome,
      </if>
      <if test="monthlyincome != null" >
        monthlyIncome,
      </if>
      <if test="revenuesource != null" >
        revenueSource,
      </if>
      <if test="poorgrades != null" >
        poorGrades,
      </if>
      <if test="amounted != null" >
        amounted,
      </if>
      <if test="fundedpurpose != null" >
        fundedPurpose,
      </if>
      <if test="fundpurpose != null" >
        fundPurpose,
      </if>
      <if test="bankaccount != null" >
        bankAccount,
      </if>
      <if test="m1name != null" >
        m1name,
      </if>
      <if test="m1age != null" >
        m1age,
      </if>
      <if test="m1relations != null" >
        m1Relations,
      </if>
      <if test="m1company != null" >
        m1Company,
      </if>
      <if test="m2name != null" >
        m2name,
      </if>
      <if test="m2age != null" >
        m2age,
      </if>
      <if test="m2relations != null" >
        m2Relations,
      </if>
      <if test="m2company != null" >
        m2Company,
      </if>
      <if test="m3name != null" >
        m3name,
      </if>
      <if test="m3age != null" >
        m3age,
      </if>
      <if test="m3relations != null" >
        m3Relations,
      </if>
      <if test="m3company != null" >
        m3Company,
      </if>
      <if test="applicationreasons != null" >
        applicationReasons,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="counselorreview != null" >
        counselorReview,
      </if>
      <if test="counselorreviewremarks != null" >
        counselorReviewRemarks,
      </if>
      <if test="admin != null" >
        admin,
      </if>
      <if test="adminremarks != null" >
        adminRemarks,
      </if>
      <if test="applicationtime != null" >
        ApplicationTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="populationcount != null" >
        #{populationcount,jdbcType=VARCHAR},
      </if>
      <if test="familyincome != null" >
        #{familyincome,jdbcType=VARCHAR},
      </if>
      <if test="monthlyincome != null" >
        #{monthlyincome,jdbcType=VARCHAR},
      </if>
      <if test="revenuesource != null" >
        #{revenuesource,jdbcType=VARCHAR},
      </if>
      <if test="poorgrades != null" >
        #{poorgrades,jdbcType=VARCHAR},
      </if>
      <if test="amounted != null" >
        #{amounted,jdbcType=VARCHAR},
      </if>
      <if test="fundedpurpose != null" >
        #{fundedpurpose,jdbcType=VARCHAR},
      </if>
      <if test="fundpurpose != null" >
        #{fundpurpose,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="m1name != null" >
        #{m1name,jdbcType=VARCHAR},
      </if>
      <if test="m1age != null" >
        #{m1age,jdbcType=INTEGER},
      </if>
      <if test="m1relations != null" >
        #{m1relations,jdbcType=VARCHAR},
      </if>
      <if test="m1company != null" >
        #{m1company,jdbcType=VARCHAR},
      </if>
      <if test="m2name != null" >
        #{m2name,jdbcType=VARCHAR},
      </if>
      <if test="m2age != null" >
        #{m2age,jdbcType=INTEGER},
      </if>
      <if test="m2relations != null" >
        #{m2relations,jdbcType=VARCHAR},
      </if>
      <if test="m2company != null" >
        #{m2company,jdbcType=VARCHAR},
      </if>
      <if test="m3name != null" >
        #{m3name,jdbcType=VARCHAR},
      </if>
      <if test="m3age != null" >
        #{m3age,jdbcType=INTEGER},
      </if>
      <if test="m3relations != null" >
        #{m3relations,jdbcType=VARCHAR},
      </if>
      <if test="m3company != null" >
        #{m3company,jdbcType=VARCHAR},
      </if>
      <if test="applicationreasons != null" >
        #{applicationreasons,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="counselorreview != null" >
        #{counselorreview,jdbcType=INTEGER},
      </if>
      <if test="counselorreviewremarks != null" >
        #{counselorreviewremarks,jdbcType=VARCHAR},
      </if>
      <if test="admin != null" >
        #{admin,jdbcType=INTEGER},
      </if>
      <if test="adminremarks != null" >
        #{adminremarks,jdbcType=VARCHAR},
      </if>
      <if test="applicationtime != null" >
        #{applicationtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.bus.web.model.GrantExample" resultType="java.lang.Integer" >
    select count(*) from grants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update grants
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.idcard != null" >
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.populationcount != null" >
        populationCount = #{record.populationcount,jdbcType=VARCHAR},
      </if>
      <if test="record.familyincome != null" >
        familyIncome = #{record.familyincome,jdbcType=VARCHAR},
      </if>
      <if test="record.monthlyincome != null" >
        monthlyIncome = #{record.monthlyincome,jdbcType=VARCHAR},
      </if>
      <if test="record.revenuesource != null" >
        revenueSource = #{record.revenuesource,jdbcType=VARCHAR},
      </if>
      <if test="record.poorgrades != null" >
        poorGrades = #{record.poorgrades,jdbcType=VARCHAR},
      </if>
      <if test="record.amounted != null" >
        amounted = #{record.amounted,jdbcType=VARCHAR},
      </if>
      <if test="record.fundedpurpose != null" >
        fundedPurpose = #{record.fundedpurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.fundpurpose != null" >
        fundPurpose = #{record.fundpurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.bankaccount != null" >
        bankAccount = #{record.bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="record.m1name != null" >
        m1name = #{record.m1name,jdbcType=VARCHAR},
      </if>
      <if test="record.m1age != null" >
        m1age = #{record.m1age,jdbcType=INTEGER},
      </if>
      <if test="record.m1relations != null" >
        m1Relations = #{record.m1relations,jdbcType=VARCHAR},
      </if>
      <if test="record.m1company != null" >
        m1Company = #{record.m1company,jdbcType=VARCHAR},
      </if>
      <if test="record.m2name != null" >
        m2name = #{record.m2name,jdbcType=VARCHAR},
      </if>
      <if test="record.m2age != null" >
        m2age = #{record.m2age,jdbcType=INTEGER},
      </if>
      <if test="record.m2relations != null" >
        m2Relations = #{record.m2relations,jdbcType=VARCHAR},
      </if>
      <if test="record.m2company != null" >
        m2Company = #{record.m2company,jdbcType=VARCHAR},
      </if>
      <if test="record.m3name != null" >
        m3name = #{record.m3name,jdbcType=VARCHAR},
      </if>
      <if test="record.m3age != null" >
        m3age = #{record.m3age,jdbcType=INTEGER},
      </if>
      <if test="record.m3relations != null" >
        m3Relations = #{record.m3relations,jdbcType=VARCHAR},
      </if>
      <if test="record.m3company != null" >
        m3Company = #{record.m3company,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationreasons != null" >
        applicationReasons = #{record.applicationreasons,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        Remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.counselorreview != null" >
        counselorReview = #{record.counselorreview,jdbcType=INTEGER},
      </if>
      <if test="record.counselorreviewremarks != null" >
        counselorReviewRemarks = #{record.counselorreviewremarks,jdbcType=VARCHAR},
      </if>
      <if test="record.admin != null" >
        admin = #{record.admin,jdbcType=INTEGER},
      </if>
      <if test="record.adminremarks != null" >
        adminRemarks = #{record.adminremarks,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationtime != null" >
        ApplicationTime = #{record.applicationtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update grants
    set id = #{record.id,jdbcType=BIGINT},
      idCard = #{record.idcard,jdbcType=VARCHAR},
      populationCount = #{record.populationcount,jdbcType=VARCHAR},
      familyIncome = #{record.familyincome,jdbcType=VARCHAR},
      monthlyIncome = #{record.monthlyincome,jdbcType=VARCHAR},
      revenueSource = #{record.revenuesource,jdbcType=VARCHAR},
      poorGrades = #{record.poorgrades,jdbcType=VARCHAR},
      amounted = #{record.amounted,jdbcType=VARCHAR},
      fundedPurpose = #{record.fundedpurpose,jdbcType=VARCHAR},
      fundPurpose = #{record.fundpurpose,jdbcType=VARCHAR},
      bankAccount = #{record.bankaccount,jdbcType=VARCHAR},
      m1name = #{record.m1name,jdbcType=VARCHAR},
      m1age = #{record.m1age,jdbcType=INTEGER},
      m1Relations = #{record.m1relations,jdbcType=VARCHAR},
      m1Company = #{record.m1company,jdbcType=VARCHAR},
      m2name = #{record.m2name,jdbcType=VARCHAR},
      m2age = #{record.m2age,jdbcType=INTEGER},
      m2Relations = #{record.m2relations,jdbcType=VARCHAR},
      m2Company = #{record.m2company,jdbcType=VARCHAR},
      m3name = #{record.m3name,jdbcType=VARCHAR},
      m3age = #{record.m3age,jdbcType=INTEGER},
      m3Relations = #{record.m3relations,jdbcType=VARCHAR},
      m3Company = #{record.m3company,jdbcType=VARCHAR},
      applicationReasons = #{record.applicationreasons,jdbcType=VARCHAR},
      Remarks = #{record.remarks,jdbcType=VARCHAR},
      counselorReview = #{record.counselorreview,jdbcType=INTEGER},
      counselorReviewRemarks = #{record.counselorreviewremarks,jdbcType=VARCHAR},
      admin = #{record.admin,jdbcType=INTEGER},
      adminRemarks = #{record.adminremarks,jdbcType=VARCHAR},
      ApplicationTime = #{record.applicationtime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.bus.web.model.Grant" >
    update grants
    <set >
      <if test="idcard != null" >
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="populationcount != null" >
        populationCount = #{populationcount,jdbcType=VARCHAR},
      </if>
      <if test="familyincome != null" >
        familyIncome = #{familyincome,jdbcType=VARCHAR},
      </if>
      <if test="monthlyincome != null" >
        monthlyIncome = #{monthlyincome,jdbcType=VARCHAR},
      </if>
      <if test="revenuesource != null" >
        revenueSource = #{revenuesource,jdbcType=VARCHAR},
      </if>
      <if test="poorgrades != null" >
        poorGrades = #{poorgrades,jdbcType=VARCHAR},
      </if>
      <if test="amounted != null" >
        amounted = #{amounted,jdbcType=VARCHAR},
      </if>
      <if test="fundedpurpose != null" >
        fundedPurpose = #{fundedpurpose,jdbcType=VARCHAR},
      </if>
      <if test="fundpurpose != null" >
        fundPurpose = #{fundpurpose,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankAccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="m1name != null" >
        m1name = #{m1name,jdbcType=VARCHAR},
      </if>
      <if test="m1age != null" >
        m1age = #{m1age,jdbcType=INTEGER},
      </if>
      <if test="m1relations != null" >
        m1Relations = #{m1relations,jdbcType=VARCHAR},
      </if>
      <if test="m1company != null" >
        m1Company = #{m1company,jdbcType=VARCHAR},
      </if>
      <if test="m2name != null" >
        m2name = #{m2name,jdbcType=VARCHAR},
      </if>
      <if test="m2age != null" >
        m2age = #{m2age,jdbcType=INTEGER},
      </if>
      <if test="m2relations != null" >
        m2Relations = #{m2relations,jdbcType=VARCHAR},
      </if>
      <if test="m2company != null" >
        m2Company = #{m2company,jdbcType=VARCHAR},
      </if>
      <if test="m3name != null" >
        m3name = #{m3name,jdbcType=VARCHAR},
      </if>
      <if test="m3age != null" >
        m3age = #{m3age,jdbcType=INTEGER},
      </if>
      <if test="m3relations != null" >
        m3Relations = #{m3relations,jdbcType=VARCHAR},
      </if>
      <if test="m3company != null" >
        m3Company = #{m3company,jdbcType=VARCHAR},
      </if>
      <if test="applicationreasons != null" >
        applicationReasons = #{applicationreasons,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="counselorreview != null" >
        counselorReview = #{counselorreview,jdbcType=INTEGER},
      </if>
      <if test="counselorreviewremarks != null" >
        counselorReviewRemarks = #{counselorreviewremarks,jdbcType=VARCHAR},
      </if>
      <if test="admin != null" >
        admin = #{admin,jdbcType=INTEGER},
      </if>
      <if test="adminremarks != null" >
        adminRemarks = #{adminremarks,jdbcType=VARCHAR},
      </if>
      <if test="applicationtime != null" >
        ApplicationTime = #{applicationtime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.bus.web.model.Grant" >
    update grants
    set idCard = #{idcard,jdbcType=VARCHAR},
      populationCount = #{populationcount,jdbcType=VARCHAR},
      familyIncome = #{familyincome,jdbcType=VARCHAR},
      monthlyIncome = #{monthlyincome,jdbcType=VARCHAR},
      revenueSource = #{revenuesource,jdbcType=VARCHAR},
      poorGrades = #{poorgrades,jdbcType=VARCHAR},
      amounted = #{amounted,jdbcType=VARCHAR},
      fundedPurpose = #{fundedpurpose,jdbcType=VARCHAR},
      fundPurpose = #{fundpurpose,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      m1name = #{m1name,jdbcType=VARCHAR},
      m1age = #{m1age,jdbcType=INTEGER},
      m1Relations = #{m1relations,jdbcType=VARCHAR},
      m1Company = #{m1company,jdbcType=VARCHAR},
      m2name = #{m2name,jdbcType=VARCHAR},
      m2age = #{m2age,jdbcType=INTEGER},
      m2Relations = #{m2relations,jdbcType=VARCHAR},
      m2Company = #{m2company,jdbcType=VARCHAR},
      m3name = #{m3name,jdbcType=VARCHAR},
      m3age = #{m3age,jdbcType=INTEGER},
      m3Relations = #{m3relations,jdbcType=VARCHAR},
      m3Company = #{m3company,jdbcType=VARCHAR},
      applicationReasons = #{applicationreasons,jdbcType=VARCHAR},
      Remarks = #{remarks,jdbcType=VARCHAR},
      counselorReview = #{counselorreview,jdbcType=INTEGER},
      counselorReviewRemarks = #{counselorreviewremarks,jdbcType=VARCHAR},
      admin = #{admin,jdbcType=INTEGER},
      adminRemarks = #{adminremarks,jdbcType=VARCHAR},
      ApplicationTime = #{applicationtime,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="net.bus.web.model.GrantExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from grants
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>