<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.bus.web.mapper.PoorBuildMapper">
    <resultMap id="BaseResultMap" type="net.bus.web.model.PoorBuild">
        <id column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="BIGINT"/>
        <result column="applicationDate" property="applicationdate" jdbcType="DATE"/>
        <result column="Insurance" property="insurance" jdbcType="CHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="economicSources" property="economicsources" jdbcType="VARCHAR"/>
        <result column="familyIncome" property="familyincome" jdbcType="INTEGER"/>
        <result column="isLoan" property="isloan" jdbcType="CHAR"/>
        <result column="fworkplace" property="fworkplace" jdbcType="VARCHAR"/>
        <result column="fEarning" property="fearning" jdbcType="VARCHAR"/>
        <result column="mworkplace" property="mworkplace" jdbcType="VARCHAR"/>
        <result column="mEarning" property="mearning" jdbcType="VARCHAR"/>
        <result column="population" property="population" jdbcType="INTEGER"/>
        <result column="application" property="application" jdbcType="VARCHAR"/>
        <result column="poorProve" property="poorprove" jdbcType="VARCHAR"/>
        <result column="retireProve" property="retireprove" jdbcType="VARCHAR"/>
        <result column="deformityProve" property="deformityprove" jdbcType="VARCHAR"/>
        <result column="efficiencyProve" property="efficiencyprove" jdbcType="VARCHAR"/>
        <result column="conditionProve" property="conditionprove" jdbcType="VARCHAR"/>
        <result column="awardsProve" property="awardsprove" jdbcType="VARCHAR"/>
        <result column="TAppraisal" property="tappraisal" jdbcType="VARCHAR"/>
        <result column="TSign" property="tsign" jdbcType="VARCHAR"/>
        <result column="TSignDate" property="tsigndate" jdbcType="DATE"/>
        <result column="DGrades" property="dgrades" jdbcType="VARCHAR"/>
        <result column="DSign" property="dsign" jdbcType="VARCHAR"/>
        <result column="DSignDate" property="dsigndate" jdbcType="DATE"/>
        <result column="SGrades" property="sgrades" jdbcType="VARCHAR"/>
        <result column="SSign" property="ssign" jdbcType="VARCHAR"/>
        <result column="SSignDate" property="ssigndate" jdbcType="DATE"/>
        <result column="Treviewed" property="treviewed" jdbcType="CHAR"/>
        <result column="Dreviewed" property="dreviewed" jdbcType="CHAR"/>
        <result column="Sreviewed" property="sreviewed" jdbcType="CHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="m1" property="m1" jdbcType="VARCHAR"/>
        <result column="m1name" property="m1name" jdbcType="VARCHAR"/>
        <result column="m1workplace" property="m1workplace" jdbcType="VARCHAR"/>
        <result column="m1Earning" property="m1earning" jdbcType="VARCHAR"/>
        <result column="m2" property="m2" jdbcType="VARCHAR"/>
        <result column="m2name" property="m2name" jdbcType="VARCHAR"/>
        <result column="m2wordpress" property="m2wordpress" jdbcType="VARCHAR"/>
        <result column="m2Earning" property="m2earning" jdbcType="VARCHAR"/>
        <result column="m3" property="m3" jdbcType="VARCHAR"/>
        <result column="m3name" property="m3name" jdbcType="VARCHAR"/>
        <result column="m3wordpress" property="m3wordpress" jdbcType="VARCHAR"/>
        <result column="m3Earning" property="m3earning" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="poorResultMap" type="net.bus.web.model.PoorPovo" extends="BaseResultMap">
        <association property="student" javaType="net.bus.web.model.Student">
            <id column="idCard" property="idcard" jdbcType="VARCHAR" />
            <result column="sno" property="sno" jdbcType="VARCHAR" />
            <result column="sname" property="sname" jdbcType="VARCHAR" />
            <result column="usedName" property="usedname" jdbcType="VARCHAR" />
            <result column="sex" property="sex" jdbcType="VARCHAR" />
            <result column="College" property="college" jdbcType="VARCHAR" />
            <result column="profession" property="profession" jdbcType="VARCHAR" />
            <result column="classname" property="classname" jdbcType="VARCHAR" />
            <result column="grade" property="grade" jdbcType="VARCHAR" />
            <result column="level" property="level" jdbcType="CHAR" />
            <result column="studyLength" property="studylength" jdbcType="CHAR" />
            <result column="nationality" property="nationality" jdbcType="VARCHAR" />
            <result column="political" property="political" jdbcType="VARCHAR" />
            <result column="sroom" property="sroom" jdbcType="VARCHAR" />
            <result column="stel" property="stel" jdbcType="VARCHAR" />
            <result column="schoolCard" property="schoolcard" jdbcType="VARCHAR" />
            <result column="fname" property="fname" jdbcType="VARCHAR" />
            <result column="ftel" property="ftel" jdbcType="VARCHAR" />
            <result column="mname" property="mname" jdbcType="VARCHAR" />
            <result column="mtel" property="mtel" jdbcType="VARCHAR" />
            <result column="nativePlace" property="nativeplace" jdbcType="VARCHAR" />
            <result column="img" property="img" jdbcType="VARCHAR" />
        </association>
    </resultMap>


    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    idcard, no, applicationDate, Insurance, code, economicSources, familyIncome, isLoan, 
    fworkplace, fEarning, mworkplace, mEarning, population, application, poorProve, retireProve, 
    deformityProve, efficiencyProve, conditionProve, awardsProve, TAppraisal, TSign, 
    TSignDate, DGrades, DSign, DSignDate, SGrades, SSign, SSignDate, Treviewed, Dreviewed, 
    Sreviewed, remarks, m1, m1name, m1workplace, m1Earning, m2, m2name, m2wordpress, 
    m2Earning, m3, m3name, m3wordpress, m3Earning
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.bus.web.model.PoorBuildExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from poorBuild
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from poorBuild
        where idcard = #{idcard,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from poorBuild
    where idcard = #{idcard,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="net.bus.web.model.PoorBuildExample">
        delete from poorBuild
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="net.bus.web.model.PoorBuild">
    insert into poorBuild (idcard, no, applicationDate, 
      Insurance, code, economicSources, 
      familyIncome, isLoan, fworkplace, 
      fEarning, mworkplace, mEarning, 
      population, application, poorProve, 
      retireProve, deformityProve, efficiencyProve, 
      conditionProve, awardsProve, TAppraisal, 
      TSign, TSignDate, DGrades, 
      DSign, DSignDate, SGrades, 
      SSign, SSignDate, Treviewed, 
      Dreviewed, Sreviewed, remarks, 
      m1, m1name, m1workplace, 
      m1Earning, m2, m2name, 
      m2wordpress, m2Earning, m3, 
      m3name, m3wordpress, m3Earning
      )
    values (#{idcard,jdbcType=VARCHAR}, #{no,jdbcType=BIGINT}, #{applicationdate,jdbcType=DATE}, 
      #{insurance,jdbcType=CHAR}, #{code,jdbcType=VARCHAR}, #{economicsources,jdbcType=VARCHAR}, 
      #{familyincome,jdbcType=INTEGER}, #{isloan,jdbcType=CHAR}, #{fworkplace,jdbcType=VARCHAR}, 
      #{fearning,jdbcType=VARCHAR}, #{mworkplace,jdbcType=VARCHAR}, #{mearning,jdbcType=VARCHAR}, 
      #{population,jdbcType=INTEGER}, #{application,jdbcType=VARCHAR}, #{poorprove,jdbcType=VARCHAR}, 
      #{retireprove,jdbcType=VARCHAR}, #{deformityprove,jdbcType=VARCHAR}, #{efficiencyprove,jdbcType=VARCHAR}, 
      #{conditionprove,jdbcType=VARCHAR}, #{awardsprove,jdbcType=VARCHAR}, #{tappraisal,jdbcType=VARCHAR}, 
      #{tsign,jdbcType=VARCHAR}, #{tsigndate,jdbcType=DATE}, #{dgrades,jdbcType=VARCHAR}, 
      #{dsign,jdbcType=VARCHAR}, #{dsigndate,jdbcType=DATE}, #{sgrades,jdbcType=VARCHAR}, 
      #{ssign,jdbcType=VARCHAR}, #{ssigndate,jdbcType=DATE}, #{treviewed,jdbcType=CHAR}, 
      #{dreviewed,jdbcType=CHAR}, #{sreviewed,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{m1,jdbcType=VARCHAR}, #{m1name,jdbcType=VARCHAR}, #{m1workplace,jdbcType=VARCHAR}, 
      #{m1earning,jdbcType=VARCHAR}, #{m2,jdbcType=VARCHAR}, #{m2name,jdbcType=VARCHAR}, 
      #{m2wordpress,jdbcType=VARCHAR}, #{m2earning,jdbcType=VARCHAR}, #{m3,jdbcType=VARCHAR}, 
      #{m3name,jdbcType=VARCHAR}, #{m3wordpress,jdbcType=VARCHAR}, #{m3earning,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="net.bus.web.model.PoorBuild">
        insert into poorBuild
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idcard != null">
                idcard,
            </if>
            <if test="no != null">
                no,
            </if>
            <if test="applicationdate != null">
                applicationDate,
            </if>
            <if test="insurance != null">
                Insurance,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="economicsources != null">
                economicSources,
            </if>
            <if test="familyincome != null">
                familyIncome,
            </if>
            <if test="isloan != null">
                isLoan,
            </if>
            <if test="fworkplace != null">
                fworkplace,
            </if>
            <if test="fearning != null">
                fEarning,
            </if>
            <if test="mworkplace != null">
                mworkplace,
            </if>
            <if test="mearning != null">
                mEarning,
            </if>
            <if test="population != null">
                population,
            </if>
            <if test="application != null">
                application,
            </if>
            <if test="poorprove != null">
                poorProve,
            </if>
            <if test="retireprove != null">
                retireProve,
            </if>
            <if test="deformityprove != null">
                deformityProve,
            </if>
            <if test="efficiencyprove != null">
                efficiencyProve,
            </if>
            <if test="conditionprove != null">
                conditionProve,
            </if>
            <if test="awardsprove != null">
                awardsProve,
            </if>
            <if test="tappraisal != null">
                TAppraisal,
            </if>
            <if test="tsign != null">
                TSign,
            </if>
            <if test="tsigndate != null">
                TSignDate,
            </if>
            <if test="dgrades != null">
                DGrades,
            </if>
            <if test="dsign != null">
                DSign,
            </if>
            <if test="dsigndate != null">
                DSignDate,
            </if>
            <if test="sgrades != null">
                SGrades,
            </if>
            <if test="ssign != null">
                SSign,
            </if>
            <if test="ssigndate != null">
                SSignDate,
            </if>
            <if test="treviewed != null">
                Treviewed,
            </if>
            <if test="dreviewed != null">
                Dreviewed,
            </if>
            <if test="sreviewed != null">
                Sreviewed,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="m1 != null">
                m1,
            </if>
            <if test="m1name != null">
                m1name,
            </if>
            <if test="m1workplace != null">
                m1workplace,
            </if>
            <if test="m1earning != null">
                m1Earning,
            </if>
            <if test="m2 != null">
                m2,
            </if>
            <if test="m2name != null">
                m2name,
            </if>
            <if test="m2wordpress != null">
                m2wordpress,
            </if>
            <if test="m2earning != null">
                m2Earning,
            </if>
            <if test="m3 != null">
                m3,
            </if>
            <if test="m3name != null">
                m3name,
            </if>
            <if test="m3wordpress != null">
                m3wordpress,
            </if>
            <if test="m3earning != null">
                m3Earning,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idcard != null">
                #{idcard,jdbcType=VARCHAR},
            </if>
            <if test="no != null">
                #{no,jdbcType=BIGINT},
            </if>
            <if test="applicationdate != null">
                #{applicationdate,jdbcType=DATE},
            </if>
            <if test="insurance != null">
                #{insurance,jdbcType=CHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="economicsources != null">
                #{economicsources,jdbcType=VARCHAR},
            </if>
            <if test="familyincome != null">
                #{familyincome,jdbcType=INTEGER},
            </if>
            <if test="isloan != null">
                #{isloan,jdbcType=CHAR},
            </if>
            <if test="fworkplace != null">
                #{fworkplace,jdbcType=VARCHAR},
            </if>
            <if test="fearning != null">
                #{fearning,jdbcType=VARCHAR},
            </if>
            <if test="mworkplace != null">
                #{mworkplace,jdbcType=VARCHAR},
            </if>
            <if test="mearning != null">
                #{mearning,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                #{population,jdbcType=INTEGER},
            </if>
            <if test="application != null">
                #{application,jdbcType=VARCHAR},
            </if>
            <if test="poorprove != null">
                #{poorprove,jdbcType=VARCHAR},
            </if>
            <if test="retireprove != null">
                #{retireprove,jdbcType=VARCHAR},
            </if>
            <if test="deformityprove != null">
                #{deformityprove,jdbcType=VARCHAR},
            </if>
            <if test="efficiencyprove != null">
                #{efficiencyprove,jdbcType=VARCHAR},
            </if>
            <if test="conditionprove != null">
                #{conditionprove,jdbcType=VARCHAR},
            </if>
            <if test="awardsprove != null">
                #{awardsprove,jdbcType=VARCHAR},
            </if>
            <if test="tappraisal != null">
                #{tappraisal,jdbcType=VARCHAR},
            </if>
            <if test="tsign != null">
                #{tsign,jdbcType=VARCHAR},
            </if>
            <if test="tsigndate != null">
                #{tsigndate,jdbcType=DATE},
            </if>
            <if test="dgrades != null">
                #{dgrades,jdbcType=VARCHAR},
            </if>
            <if test="dsign != null">
                #{dsign,jdbcType=VARCHAR},
            </if>
            <if test="dsigndate != null">
                #{dsigndate,jdbcType=DATE},
            </if>
            <if test="sgrades != null">
                #{sgrades,jdbcType=VARCHAR},
            </if>
            <if test="ssign != null">
                #{ssign,jdbcType=VARCHAR},
            </if>
            <if test="ssigndate != null">
                #{ssigndate,jdbcType=DATE},
            </if>
            <if test="treviewed != null">
                #{treviewed,jdbcType=CHAR},
            </if>
            <if test="dreviewed != null">
                #{dreviewed,jdbcType=CHAR},
            </if>
            <if test="sreviewed != null">
                #{sreviewed,jdbcType=CHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="m1 != null">
                #{m1,jdbcType=VARCHAR},
            </if>
            <if test="m1name != null">
                #{m1name,jdbcType=VARCHAR},
            </if>
            <if test="m1workplace != null">
                #{m1workplace,jdbcType=VARCHAR},
            </if>
            <if test="m1earning != null">
                #{m1earning,jdbcType=VARCHAR},
            </if>
            <if test="m2 != null">
                #{m2,jdbcType=VARCHAR},
            </if>
            <if test="m2name != null">
                #{m2name,jdbcType=VARCHAR},
            </if>
            <if test="m2wordpress != null">
                #{m2wordpress,jdbcType=VARCHAR},
            </if>
            <if test="m2earning != null">
                #{m2earning,jdbcType=VARCHAR},
            </if>
            <if test="m3 != null">
                #{m3,jdbcType=VARCHAR},
            </if>
            <if test="m3name != null">
                #{m3name,jdbcType=VARCHAR},
            </if>
            <if test="m3wordpress != null">
                #{m3wordpress,jdbcType=VARCHAR},
            </if>
            <if test="m3earning != null">
                #{m3earning,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--联合查询出所有申请的信息-->
    <select id="getAllPoorinfo" parameterType="java.util.Map" resultMap="poorResultMap">
      SELECT * FROM poorBuild
      INNER JOIN students
      ON poorBuild.`idcard`=students.`idCard`
      <if test="college!=null">
          AND College=#{college}
      </if>
      LIMIT #{start},#{end}
  </select>


    <select id="countByExample" parameterType="net.bus.web.model.PoorBuildExample" resultType="java.lang.Integer">
        select count(*) from poorBuild
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update poorBuild
        <set>
            <if test="record.idcard != null">
                idcard = #{record.idcard,jdbcType=VARCHAR},
            </if>
            <if test="record.no != null">
                no = #{record.no,jdbcType=BIGINT},
            </if>
            <if test="record.applicationdate != null">
                applicationDate = #{record.applicationdate,jdbcType=DATE},
            </if>
            <if test="record.insurance != null">
                Insurance = #{record.insurance,jdbcType=CHAR},
            </if>
            <if test="record.code != null">
                code = #{record.code,jdbcType=VARCHAR},
            </if>
            <if test="record.economicsources != null">
                economicSources = #{record.economicsources,jdbcType=VARCHAR},
            </if>
            <if test="record.familyincome != null">
                familyIncome = #{record.familyincome,jdbcType=INTEGER},
            </if>
            <if test="record.isloan != null">
                isLoan = #{record.isloan,jdbcType=CHAR},
            </if>
            <if test="record.fworkplace != null">
                fworkplace = #{record.fworkplace,jdbcType=VARCHAR},
            </if>
            <if test="record.fearning != null">
                fEarning = #{record.fearning,jdbcType=VARCHAR},
            </if>
            <if test="record.mworkplace != null">
                mworkplace = #{record.mworkplace,jdbcType=VARCHAR},
            </if>
            <if test="record.mearning != null">
                mEarning = #{record.mearning,jdbcType=VARCHAR},
            </if>
            <if test="record.population != null">
                population = #{record.population,jdbcType=INTEGER},
            </if>
            <if test="record.application != null">
                application = #{record.application,jdbcType=VARCHAR},
            </if>
            <if test="record.poorprove != null">
                poorProve = #{record.poorprove,jdbcType=VARCHAR},
            </if>
            <if test="record.retireprove != null">
                retireProve = #{record.retireprove,jdbcType=VARCHAR},
            </if>
            <if test="record.deformityprove != null">
                deformityProve = #{record.deformityprove,jdbcType=VARCHAR},
            </if>
            <if test="record.efficiencyprove != null">
                efficiencyProve = #{record.efficiencyprove,jdbcType=VARCHAR},
            </if>
            <if test="record.conditionprove != null">
                conditionProve = #{record.conditionprove,jdbcType=VARCHAR},
            </if>
            <if test="record.awardsprove != null">
                awardsProve = #{record.awardsprove,jdbcType=VARCHAR},
            </if>
            <if test="record.tappraisal != null">
                TAppraisal = #{record.tappraisal,jdbcType=VARCHAR},
            </if>
            <if test="record.tsign != null">
                TSign = #{record.tsign,jdbcType=VARCHAR},
            </if>
            <if test="record.tsigndate != null">
                TSignDate = #{record.tsigndate,jdbcType=DATE},
            </if>
            <if test="record.dgrades != null">
                DGrades = #{record.dgrades,jdbcType=VARCHAR},
            </if>
            <if test="record.dsign != null">
                DSign = #{record.dsign,jdbcType=VARCHAR},
            </if>
            <if test="record.dsigndate != null">
                DSignDate = #{record.dsigndate,jdbcType=DATE},
            </if>
            <if test="record.sgrades != null">
                SGrades = #{record.sgrades,jdbcType=VARCHAR},
            </if>
            <if test="record.ssign != null">
                SSign = #{record.ssign,jdbcType=VARCHAR},
            </if>
            <if test="record.ssigndate != null">
                SSignDate = #{record.ssigndate,jdbcType=DATE},
            </if>
            <if test="record.treviewed != null">
                Treviewed = #{record.treviewed,jdbcType=CHAR},
            </if>
            <if test="record.dreviewed != null">
                Dreviewed = #{record.dreviewed,jdbcType=CHAR},
            </if>
            <if test="record.sreviewed != null">
                Sreviewed = #{record.sreviewed,jdbcType=CHAR},
            </if>
            <if test="record.remarks != null">
                remarks = #{record.remarks,jdbcType=VARCHAR},
            </if>
            <if test="record.m1 != null">
                m1 = #{record.m1,jdbcType=VARCHAR},
            </if>
            <if test="record.m1name != null">
                m1name = #{record.m1name,jdbcType=VARCHAR},
            </if>
            <if test="record.m1workplace != null">
                m1workplace = #{record.m1workplace,jdbcType=VARCHAR},
            </if>
            <if test="record.m1earning != null">
                m1Earning = #{record.m1earning,jdbcType=VARCHAR},
            </if>
            <if test="record.m2 != null">
                m2 = #{record.m2,jdbcType=VARCHAR},
            </if>
            <if test="record.m2name != null">
                m2name = #{record.m2name,jdbcType=VARCHAR},
            </if>
            <if test="record.m2wordpress != null">
                m2wordpress = #{record.m2wordpress,jdbcType=VARCHAR},
            </if>
            <if test="record.m2earning != null">
                m2Earning = #{record.m2earning,jdbcType=VARCHAR},
            </if>
            <if test="record.m3 != null">
                m3 = #{record.m3,jdbcType=VARCHAR},
            </if>
            <if test="record.m3name != null">
                m3name = #{record.m3name,jdbcType=VARCHAR},
            </if>
            <if test="record.m3wordpress != null">
                m3wordpress = #{record.m3wordpress,jdbcType=VARCHAR},
            </if>
            <if test="record.m3earning != null">
                m3Earning = #{record.m3earning,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update poorBuild
        set idcard = #{record.idcard,jdbcType=VARCHAR},
        no = #{record.no,jdbcType=BIGINT},
        applicationDate = #{record.applicationdate,jdbcType=DATE},
        Insurance = #{record.insurance,jdbcType=CHAR},
        code = #{record.code,jdbcType=VARCHAR},
        economicSources = #{record.economicsources,jdbcType=VARCHAR},
        familyIncome = #{record.familyincome,jdbcType=INTEGER},
        isLoan = #{record.isloan,jdbcType=CHAR},
        fworkplace = #{record.fworkplace,jdbcType=VARCHAR},
        fEarning = #{record.fearning,jdbcType=VARCHAR},
        mworkplace = #{record.mworkplace,jdbcType=VARCHAR},
        mEarning = #{record.mearning,jdbcType=VARCHAR},
        population = #{record.population,jdbcType=INTEGER},
        application = #{record.application,jdbcType=VARCHAR},
        poorProve = #{record.poorprove,jdbcType=VARCHAR},
        retireProve = #{record.retireprove,jdbcType=VARCHAR},
        deformityProve = #{record.deformityprove,jdbcType=VARCHAR},
        efficiencyProve = #{record.efficiencyprove,jdbcType=VARCHAR},
        conditionProve = #{record.conditionprove,jdbcType=VARCHAR},
        awardsProve = #{record.awardsprove,jdbcType=VARCHAR},
        TAppraisal = #{record.tappraisal,jdbcType=VARCHAR},
        TSign = #{record.tsign,jdbcType=VARCHAR},
        TSignDate = #{record.tsigndate,jdbcType=DATE},
        DGrades = #{record.dgrades,jdbcType=VARCHAR},
        DSign = #{record.dsign,jdbcType=VARCHAR},
        DSignDate = #{record.dsigndate,jdbcType=DATE},
        SGrades = #{record.sgrades,jdbcType=VARCHAR},
        SSign = #{record.ssign,jdbcType=VARCHAR},
        SSignDate = #{record.ssigndate,jdbcType=DATE},
        Treviewed = #{record.treviewed,jdbcType=CHAR},
        Dreviewed = #{record.dreviewed,jdbcType=CHAR},
        Sreviewed = #{record.sreviewed,jdbcType=CHAR},
        remarks = #{record.remarks,jdbcType=VARCHAR},
        m1 = #{record.m1,jdbcType=VARCHAR},
        m1name = #{record.m1name,jdbcType=VARCHAR},
        m1workplace = #{record.m1workplace,jdbcType=VARCHAR},
        m1Earning = #{record.m1earning,jdbcType=VARCHAR},
        m2 = #{record.m2,jdbcType=VARCHAR},
        m2name = #{record.m2name,jdbcType=VARCHAR},
        m2wordpress = #{record.m2wordpress,jdbcType=VARCHAR},
        m2Earning = #{record.m2earning,jdbcType=VARCHAR},
        m3 = #{record.m3,jdbcType=VARCHAR},
        m3name = #{record.m3name,jdbcType=VARCHAR},
        m3wordpress = #{record.m3wordpress,jdbcType=VARCHAR},
        m3Earning = #{record.m3earning,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="net.bus.web.model.PoorBuild">
        update poorBuild
        <set>
            <if test="no != null">
                no = #{no,jdbcType=BIGINT},
            </if>
            <if test="applicationdate != null">
                applicationDate = #{applicationdate,jdbcType=DATE},
            </if>
            <if test="insurance != null">
                Insurance = #{insurance,jdbcType=CHAR},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="economicsources != null">
                economicSources = #{economicsources,jdbcType=VARCHAR},
            </if>
            <if test="familyincome != null">
                familyIncome = #{familyincome,jdbcType=INTEGER},
            </if>
            <if test="isloan != null">
                isLoan = #{isloan,jdbcType=CHAR},
            </if>
            <if test="fworkplace != null">
                fworkplace = #{fworkplace,jdbcType=VARCHAR},
            </if>
            <if test="fearning != null">
                fEarning = #{fearning,jdbcType=VARCHAR},
            </if>
            <if test="mworkplace != null">
                mworkplace = #{mworkplace,jdbcType=VARCHAR},
            </if>
            <if test="mearning != null">
                mEarning = #{mearning,jdbcType=VARCHAR},
            </if>
            <if test="population != null">
                population = #{population,jdbcType=INTEGER},
            </if>
            <if test="application != null">
                application = #{application,jdbcType=VARCHAR},
            </if>
            <if test="poorprove != null">
                poorProve = #{poorprove,jdbcType=VARCHAR},
            </if>
            <if test="retireprove != null">
                retireProve = #{retireprove,jdbcType=VARCHAR},
            </if>
            <if test="deformityprove != null">
                deformityProve = #{deformityprove,jdbcType=VARCHAR},
            </if>
            <if test="efficiencyprove != null">
                efficiencyProve = #{efficiencyprove,jdbcType=VARCHAR},
            </if>
            <if test="conditionprove != null">
                conditionProve = #{conditionprove,jdbcType=VARCHAR},
            </if>
            <if test="awardsprove != null">
                awardsProve = #{awardsprove,jdbcType=VARCHAR},
            </if>
            <if test="tappraisal != null">
                TAppraisal = #{tappraisal,jdbcType=VARCHAR},
            </if>
            <if test="tsign != null">
                TSign = #{tsign,jdbcType=VARCHAR},
            </if>
            <if test="tsigndate != null">
                TSignDate = #{tsigndate,jdbcType=DATE},
            </if>
            <if test="dgrades != null">
                DGrades = #{dgrades,jdbcType=VARCHAR},
            </if>
            <if test="dsign != null">
                DSign = #{dsign,jdbcType=VARCHAR},
            </if>
            <if test="dsigndate != null">
                DSignDate = #{dsigndate,jdbcType=DATE},
            </if>
            <if test="sgrades != null">
                SGrades = #{sgrades,jdbcType=VARCHAR},
            </if>
            <if test="ssign != null">
                SSign = #{ssign,jdbcType=VARCHAR},
            </if>
            <if test="ssigndate != null">
                SSignDate = #{ssigndate,jdbcType=DATE},
            </if>
            <if test="treviewed != null">
                Treviewed = #{treviewed,jdbcType=CHAR},
            </if>
            <if test="dreviewed != null">
                Dreviewed = #{dreviewed,jdbcType=CHAR},
            </if>
            <if test="sreviewed != null">
                Sreviewed = #{sreviewed,jdbcType=CHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="m1 != null">
                m1 = #{m1,jdbcType=VARCHAR},
            </if>
            <if test="m1name != null">
                m1name = #{m1name,jdbcType=VARCHAR},
            </if>
            <if test="m1workplace != null">
                m1workplace = #{m1workplace,jdbcType=VARCHAR},
            </if>
            <if test="m1earning != null">
                m1Earning = #{m1earning,jdbcType=VARCHAR},
            </if>
            <if test="m2 != null">
                m2 = #{m2,jdbcType=VARCHAR},
            </if>
            <if test="m2name != null">
                m2name = #{m2name,jdbcType=VARCHAR},
            </if>
            <if test="m2wordpress != null">
                m2wordpress = #{m2wordpress,jdbcType=VARCHAR},
            </if>
            <if test="m2earning != null">
                m2Earning = #{m2earning,jdbcType=VARCHAR},
            </if>
            <if test="m3 != null">
                m3 = #{m3,jdbcType=VARCHAR},
            </if>
            <if test="m3name != null">
                m3name = #{m3name,jdbcType=VARCHAR},
            </if>
            <if test="m3wordpress != null">
                m3wordpress = #{m3wordpress,jdbcType=VARCHAR},
            </if>
            <if test="m3earning != null">
                m3Earning = #{m3earning,jdbcType=VARCHAR},
            </if>
        </set>
        where idcard = #{idcard,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.bus.web.model.PoorBuild">
    update poorBuild
    set no = #{no,jdbcType=BIGINT},
      applicationDate = #{applicationdate,jdbcType=DATE},
      Insurance = #{insurance,jdbcType=CHAR},
      code = #{code,jdbcType=VARCHAR},
      economicSources = #{economicsources,jdbcType=VARCHAR},
      familyIncome = #{familyincome,jdbcType=INTEGER},
      isLoan = #{isloan,jdbcType=CHAR},
      fworkplace = #{fworkplace,jdbcType=VARCHAR},
      fEarning = #{fearning,jdbcType=VARCHAR},
      mworkplace = #{mworkplace,jdbcType=VARCHAR},
      mEarning = #{mearning,jdbcType=VARCHAR},
      population = #{population,jdbcType=INTEGER},
      application = #{application,jdbcType=VARCHAR},
      poorProve = #{poorprove,jdbcType=VARCHAR},
      retireProve = #{retireprove,jdbcType=VARCHAR},
      deformityProve = #{deformityprove,jdbcType=VARCHAR},
      efficiencyProve = #{efficiencyprove,jdbcType=VARCHAR},
      conditionProve = #{conditionprove,jdbcType=VARCHAR},
      awardsProve = #{awardsprove,jdbcType=VARCHAR},
      TAppraisal = #{tappraisal,jdbcType=VARCHAR},
      TSign = #{tsign,jdbcType=VARCHAR},
      TSignDate = #{tsigndate,jdbcType=DATE},
      DGrades = #{dgrades,jdbcType=VARCHAR},
      DSign = #{dsign,jdbcType=VARCHAR},
      DSignDate = #{dsigndate,jdbcType=DATE},
      SGrades = #{sgrades,jdbcType=VARCHAR},
      SSign = #{ssign,jdbcType=VARCHAR},
      SSignDate = #{ssigndate,jdbcType=DATE},
      Treviewed = #{treviewed,jdbcType=CHAR},
      Dreviewed = #{dreviewed,jdbcType=CHAR},
      Sreviewed = #{sreviewed,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      m1 = #{m1,jdbcType=VARCHAR},
      m1name = #{m1name,jdbcType=VARCHAR},
      m1workplace = #{m1workplace,jdbcType=VARCHAR},
      m1Earning = #{m1earning,jdbcType=VARCHAR},
      m2 = #{m2,jdbcType=VARCHAR},
      m2name = #{m2name,jdbcType=VARCHAR},
      m2wordpress = #{m2wordpress,jdbcType=VARCHAR},
      m2Earning = #{m2earning,jdbcType=VARCHAR},
      m3 = #{m3,jdbcType=VARCHAR},
      m3name = #{m3name,jdbcType=VARCHAR},
      m3wordpress = #{m3wordpress,jdbcType=VARCHAR},
      m3Earning = #{m3earning,jdbcType=VARCHAR}
    where idcard = #{idcard,jdbcType=VARCHAR}
  </update>
    <select resultMap="BaseResultMap" parameterType="net.bus.web.model.PoorBuildExample"
            id="selectByExampleWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from poorBuild
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>