<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.bus.web.mapper.TerminalRecordMapper" >
  <resultMap id="BaseResultMap" type="net.bus.web.model.TerminalRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device" property="device" jdbcType="VARCHAR" />
    <result column="line_id" property="lineId" jdbcType="BIGINT" />
    <result column="station_id" property="stationId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="card_id" property="cardId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="lng" property="lng" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, device, line_id, station_id, user_id, card_id, type, lat, lng, state, time, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.bus.web.model.TerminalRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from terminal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from terminal_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from terminal_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="net.bus.web.model.TerminalRecordExample" >
    delete from terminal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.bus.web.model.TerminalRecord" >
    insert into terminal_record (id, device, line_id,
    station_id, user_id, card_id,
    type, lat, lng, state,
    time, create_time)
    values (#{id,jdbcType=BIGINT}, #{device,jdbcType=VARCHAR}, #{lineId,jdbcType=BIGINT},
    #{stationId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{cardId,jdbcType=BIGINT},
    #{type,jdbcType=INTEGER}, #{lat,jdbcType=DOUBLE}, #{lng,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER},
    #{time,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.bus.web.model.TerminalRecord" >
    insert into terminal_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="device != null" >
        device,
      </if>
      <if test="lineId != null" >
        line_id,
      </if>
      <if test="stationId != null" >
        station_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="device != null" >
        #{device,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null" >
        #{lineId,jdbcType=BIGINT},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.bus.web.model.TerminalRecordExample" resultType="java.lang.Integer" >
    select count(*) from terminal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update terminal_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.device != null" >
        device = #{record.device,jdbcType=VARCHAR},
      </if>
      <if test="record.lineId != null" >
        line_id = #{record.lineId,jdbcType=BIGINT},
      </if>
      <if test="record.stationId != null" >
        station_id = #{record.stationId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=DOUBLE},
      </if>
      <if test="record.lng != null" >
        lng = #{record.lng,jdbcType=DOUBLE},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update terminal_record
    set id = #{record.id,jdbcType=BIGINT},
    device = #{record.device,jdbcType=VARCHAR},
    line_id = #{record.lineId,jdbcType=BIGINT},
    station_id = #{record.stationId,jdbcType=BIGINT},
    user_id = #{record.userId,jdbcType=BIGINT},
    card_id = #{record.cardId,jdbcType=BIGINT},
    type = #{record.type,jdbcType=INTEGER},
    lat = #{record.lat,jdbcType=DOUBLE},
    lng = #{record.lng,jdbcType=DOUBLE},
    state = #{record.state,jdbcType=INTEGER},
    time = #{record.time,jdbcType=TIMESTAMP},
    create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.bus.web.model.TerminalRecord" >
    update terminal_record
    <set >
      <if test="device != null" >
        device = #{device,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null" >
        line_id = #{lineId,jdbcType=BIGINT},
      </if>
      <if test="stationId != null" >
        station_id = #{stationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.bus.web.model.TerminalRecord" >
    update terminal_record
    set device = #{device,jdbcType=VARCHAR},
      line_id = #{lineId,jdbcType=BIGINT},
      station_id = #{stationId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      card_id = #{cardId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      lat = #{lat,jdbcType=DOUBLE},
      lng = #{lng,jdbcType=DOUBLE},
      state = #{state,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="net.bus.web.model.TerminalRecordExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from terminal_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>